{% block acme_admin_type_number_range_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.start) }}
            {{ form_label(form.start) }}
            {{ form_widget(form.start) }}
            {{ form_errors(form.end) }}
            {{ form_label(form.end) }}
            {{ form_widget(form.end) }}
        </div>
    {% endspaceless %}
{% endblock acme_admin_type_number_range_widget %}